footer
.footer
  .footer-content
    .block-1
      h6 DREAMSHARE
    .block-2
      p Company
      .list-all
        a.list(href='#')
          p About
        a.list(href='#')
          p Contact
        a.list(href='#')
          p Press
        a.list(href='#')
          p Blog
        a.list(href='#')
          p Terms and Privacy
        a.list(href='#')
          p Help
    .block-3
      p Partners
    .logo
      p.logo__text DESIGNED BY
      img.logo-img(src='images/Bitmap15-min.png', alt='Logo')