header
.header
  .menu
    div
      h6 DREAMSHARE
    div
      .button
        button.button__log(type='submit') Log in
        button.button__sign(type='button') Sign up
  .center
    h2 SHARE YOUR HOLIDAY DREAM
    p.center-text And find the perfect partner to fullfill it
    button.button-find(type='button') Find your holiday partner